
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scrollbar-width: none;
}
/* -------------------------------------CSS CUSTOM PROPERTIES----------------------------------- */
:root {
    --font-color: linear-gradient(to right, purple, orange);
    --footer-bg-color: rgba(128, 128, 128, 0.473);
    --heading-size: 45px;
    --bg-color: linear-gradient(to right, purple, orange);
    --p-line-height: 25px;
    --para-font-size: 15px;
    --sub-head-size: 35px;
  }
  @font-face {
    font-family: head;
    src: url(../Assets/fonts/Dosis/Dosis-VariableFont_wght.ttf);  
}
@font-face {
    font-family: sub-head;
    src: url(../Assets/fonts/Galdeano/Galdeano-Regular.ttf);
}
@font-face {
    font-family: para;
    src: url(../Assets/fonts/Maitree/Maitree-Regular.ttf);
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    width: 100%;
}
/* ----------Navbar-container---------- */
.navbar-container{
    width: 100%;
    padding: 1vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid grey;
    
}
.navbar-container .logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* ----------------nav-logo------------- */
.navbar-container .logo h1{
    font-size: 12px;
    font-family: cantarell;
    letter-spacing: 6px;
    font-weight: 200;
    margin-left: 20px;
}
/* -------------navbar-links---------- */
 .navbar-container .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
}
.nav-links li a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
/* -------login-signup-btn------------ */

.login_signup-btn .login-btn{
    padding: 1vw;
    background-color:transparent;
    border: 1px solid black;
    border-radius: 12px;
}
.login_signup-btn .signup-btn{
    padding: 1vw;
    background-color:black;
    
    border: 1px solid black;
    border-radius: 12px;
}
.login_signup-btn .register-btn{
    padding: 1vw;
    background-color:black;
    
    border: 1px solid black;
    border-radius: 12px;
}
.login_signup-btn .register-btn a{
    color: white;
    text-decoration: none;
}
.login-btn a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}
.contact_us-btn a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}
.navbar-container ul li .login_signup-btn .signup-btn a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    
}

/* -------------active-home-link------------ */
#active{
    background: linear-gradient(to right, purple, orange);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* -------------Open-close-menu------------- */
.navbar-container .fa-solid{
    display: none;
    position: relative;
}
/* --------------------Page1---------------------- */
.page1{
    width: 100%;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}


.page1_cont{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    
}
.page1_cont img{
    height: 400px;
    width: 400px;
    flex-basis: 45%;
}

.abt_cont{
flex-basis: 55%;

}
.abt_cont h2{
    font-size: var(--heading-size);
    font-family: head;
    margin-bottom: 30px;
    background: linear-gradient(to right, purple, orange);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
 .page1 .abt_cont p{
    margin-top: 0.5vw;
    font-size:var(--para-font-size);
    font-family: para;
}
/* ---------------------------Page2------------------------ */
.page2{
   
    width: 100%;
    padding: 2vw;
    background-color:#ffffff;
}
.page2 h1{
    text-align: center;
    font-size:var(--heading-size);
    font-family: head;
    background: linear-gradient(to right, purple, orange);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 1vw;
}
.page2 img{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 20px;
    
}
/* ---------------------page3--------------- */
.page3{
    /* min-height: 100vh; */
    width: 100%;
    padding: 10PX;
    margin-top: 10px;
    
}
.page3 h1{
    text-align: center;
    font-size: var(--heading-size);
    font-family: head;
    margin: 1vw;
    background: linear-gradient(to right, purple, orange);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.head_profile{
    height: 100%;
    width: 100%;
    padding: 1vw;
    gap: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.5vw;
}
.p-card{
    text-align: center;
    height: 200px;
    padding: 1vw;
    flex-basis: 22%;
    border-radius: 12px;
    background-color: rgba(228, 228, 228, 0.701);
    margin-top: 0.3vw;
}
.p-card:hover{
    transform: translateY(-8px);
    background:linear-gradient(to right,purple,orange);
    transition: 0.5s ease-in-out;
}

.p-card img{
    height: 80px;
    width: 80px;
   border-radius: 12px;
    margin-bottom: 1vw;
}
.p-card h3{
    margin-bottom: 1vw;
}
/* --------------------------Page4----------------- */
.page4{
    background-color: #ffffff;
    min-height: 100vh;
    width: 100%;
    padding: 1vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.team_img{
    height: 300px;
    width: 300px;
    position: relative;
    margin-top: 1vw;
    border-radius: 20px;
    
}
.team_img img{
    height: 300px;
    width: 300px;
    position: relative;
    text-align: center;
    object-fit: fill;
    border-radius: 20px;
}

 .team-name{

    position: absolute;
    z-index: 1;
    font-size: 15px;
    background-color: white;
    padding: 1vw;
    border-radius: 12px;
    top: 140px;
    left: 65px;
    display: block;
}
/* ----------------------------------------footer------------------------ */
footer{
    min-height: 300px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.479);
}
/* --------------------part1-------------------- */

footer .part1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* ---------------Contact----------------- */
.part1 .contact{
    flex-basis: 25%;
}
.part1 .contact h3{
    font-size: 20px;
    margin-bottom: 1vw;
}
.part1 .contact h4{
    font-size: 15px;
    margin-top: 1vw;
}
.part1 .contact h4 a{
    text-decoration: none;
    color: black;
}
.part1 .contact a{
    text-decoration: none;
    color: black;
}
.part1 .contact i{
    margin-top: 1vw;
    font-size: 25px;
}
/* -------------------------Quick-links------------------ */
.part1 .quick_links{
    display: block;
    flex-basis: 25%;
    
}
.part1 .quick_links h3{
    font-size: 20pxs;
    margin-bottom: 1vw;
}
.part1 .quick_links ul{
    list-style: none;
}
.part1 .quick_links ul li a{
    text-decoration: none;
    color: black;
}
.part1 .quick_links ul li {
    text-decoration: none;
    color: black;
    margin-top: 1vw;
    font-size: 15px;
    transition: transform 0.5s;
}
.part1 .quick_links ul li:hover{
    transform: translateY(-4px);
    color: red;
    
}
/* -------------------Communities-------------------- */
.foot_communities{
    flex-basis: 25%;
}
.foot_communities h3{
    font-size: 20px;
    margin-bottom: 1vw;
    margin-top: 1vw;
}
.foot_communities h4{
    margin-top: 1vw;
}
.foot_communities h4 a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-top: 1vw;
}
/* -----------------part2-------------- */
.part2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8vw;
    height: 100px;
}
/* -------------------------Copyright----------------- */
.part2 h3{
    font-size: 15px;
}
/* -----------------social media icons-------------- */
.social_media-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8vw;
    gap: 10px;
}
.social_media-icons a{
    text-decoration: none;
    color: black;
}
.social_media-icons a i{
    font-size: 25px;
    color: black;
    transition: transform 0.5s;
}
.social_media-icons a i:hover{
    transform: translateY(-5px);
    font-size: 25px;
    color:red;
}
/* -----------------------------Media-------------------------------- */
/* ------------------------For-tablets--------------------- */
@media only screen and  (min-width:600px){
    .nav-links{
        display: flex;
        
        align-items: center;
        gap: 8px;
     }
     .nav-links li a{
        font-size: 15px;
     }
     .login_signup-btn {
        display: block;
     }
     /* ------------------------page1--------------------------- */
     .page1{
        margin-top: 25px;
        padding-top: 25px;
     }
    
    .page1  .page1_cont img{
        height: 350px;
        width: 350px;
     }
    .page1 .abt_cont h2{
        font-size: 40px;
     }
    .page1 .abt_cont p{
        font-size: 15px;
        margin-top: 8px;
     }
     /* -----------------------------page2-------------------------- */
     
     .page2{
        
        margin-top: 10px;
     }
     .page2 h1{
        font-size: 40px;
     }
     .page2 img{
        height: 400px;

     }
    
   
}

    @media only screen and  (min-width:1200px){
        .navbar-container{
            width: 100%;
            padding: 1vw;
            height: 130px;
        }
        .navbar-container .logo h1{
            font-size: 16px;
            letter-spacing: 8px;
            font-weight: 300;
    
        }
        .nav-links{
            gap: 20px;
        }
        .nav-links li a{
            font-size: 30px;
        }
        .login_signup-btn .login-btn{
            width: 100px;
           }
           .login_signup-btn .signup-btn{
            width: 100px;
           }
           /* --------------------------------page1------------------------------- */
            .page1 .page1_cont img{
                
            height:400px;
            width:400px;
           }
           .page1 .abt_cont{
            flex-basis: 50%;
           }
            .page1 .abt_cont h2{
            font-size: 70px;
           }
          .page1  .abt_cont p{
            font-size: 20px;
           }
           /* -----------------------------------Page2------------------------------- */
           .page2 h1{
             font-size: 70px;   
           }
           .page2 img{
            height: 100%;
           }
           /* -----------------------------------Page3------------------------------------ */
           .page3 h1{
            font-size: 50px;
           }
           .p-card{
            height: 250px;
           }
           .p-card:hover{
            transform: translateY(-8px);
            background:linear-gradient(to right,purple,orange);
        }
           .p-card i{
             font-size: 80px;
           }
           .page3 h3{
            font-size: 30px;
           }
           .page3 h4{
            font-size:20px ;
           }
           /* ---------------------------------Page4-------------------------- */
           .team_img{
            height: 400px;
            width: 400px;
           }
           .team_img img{
            height: 400px;
            width: 400px;
           }
           .team-name{
            font-size: 25px;
            padding: 15px;
            top: 42%;
            left: 25%;
            width: 180px;
           }
           /* --------------------Footer-------------- */
    footer{
        min-height: 400px;
    }
    .part1 .contact h3{
        font-size: 30px;
    }
    .part1 .contact h4{
        font-size: 22px;
    }
    .part1 .contact i{
        font-size: 35px;
    }
    /* ------------------------quick-links--------------------- */
    .part1 .quick_links h3{
        font-size: 30px;
    }
    .part1 .quick_links ul li a{
        font-size: 22px;
    }
    /* ------------------------Communities-------------------------- */
    .foot_communities h3{
        font-size: 30px;
    }
    .foot_communities h4 a{
        font-size: 22px;
    }
    /* ------------------------------Part2---------------------------- */
    .part2{
        height: 120px;
    }
    .part2 h3{
        font-size: 22px;
    }
    .social_media-icons a i{
        font-size: 30px;
    }
    }
/* ------------------------------Mobile-Devices--------------------------------- */
@media only screen and (max-width:600px){
    .navbar-container{
        width: 100%;
        min-height: 80px;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 1vw;
    }
    .navbar-container .logo h1{
        font-size: 12px;
        letter-spacing: 6px;
        margin-top: 20px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
  .navbar-container .logo{
    gap: 10px;
  }
    .navbar-container .logo img{
      z-index: 2;
    }
    .navbar-container .nav-links .fa-solid{
        display: block;
        font-size: 30px;
        margin-top: 4vw;
        position:absolute;
        top:6px;
        right: 25px;
        
      
    }
    .navbar-container .nav-links{
        display: block;
        
    }
     .navbar-container .nav-links{
        background-color:#f7f7f7;
        text-align: start;
        padding-top: 16vw;
        padding-left: 4vw;
        position: absolute;
        top: -300px;
        gap: 50px;
        height: 300px;
        width: 100%;
        left: 0;
        transition: top 0.5s;
        z-index: 1;
        box-shadow: 0px 2px 4px 0.8px;
    }
    .navbar-container .nav-links li{
        margin-top: 25px;
        
    }
    .navbar-container ul .login_signup-btn{
        margin-top: 1vw;
    }
    .navbar-container .nav-links .login_signup-btn .register-btn{
        width: 100px;
        padding: 10px;
        border-radius: 12px;

    }
    .navbar-container .nav-links .login_signup-btn .register-btn{
        width: 100px;
        
    }
    .navbar-container .fa-bars{
        display: block;
        position: absolute;
        font-size: 30px;
        top: 25px;
        right: 20px;
        
        
        
    }
    /* -----------------------------------page1------------------------ */
    .page1_cont {
        display: flex;
        flex-direction: column;
    }
    .page1_cont img{
        height: 300px;
        width: 100%;
    }
    .abt_cont{
        padding: 2vw;
        text-align: center;
        margin-bottom: 20px;
    }
    .abt_cont h2{
        font-size: 35px;
    }
    .abt_cont p{
        margin-top: 20px;
    }
    /* ----------------------------------------Page2---------------------------- */
    .page2{
        height:100%;
        width: 100%;
     }
     .page2 h1{
        font-size: 35px;
     }
     .page2 img{
        height: 300px;
        width: 100%;
        margin-top: 50px;
     }
     /* ---------------------------page3----------------------------- */
     .page3{
        padding: 10px;
        margin-top: 0;
     }
     .page3 h1{
        font-size: 40px;
     }
    .head_profile{
        display: grid;
        justify-content: space-evenly;
    }
    .p-card{
        height: 250px;
        width: 300px;
        margin: 10px;
    }
    .p-card:hover{
        transform: translateY(-8px);
        background:linear-gradient(to right,purple,orange);
    }
    .p-card img{
        margin-top: 40px;
        height: 120px;
        width: 120px;
        font-size: 100px;
    }
    .p-card h3{
        font-size: 25px;
    }
    .p-card h4{
        font-size: 18px;
    }

       /* -------------------footer------------------------- */
       footer{
        display: flex;
        flex-direction: column;
     }
     footer .part1{
         display: flex;
         flex-direction: column;
         justify-content: start;
         align-items: start;
         padding-left: 20px;
         text-align: start;
     }
    .part1 .contact{
     flex-basis: 100%;
     margin-top: 10px;
     margin-bottom: 10px;
    }
    .part1  .contact h3{
     
     margin-top: 10px;
     margin-bottom: 10px;
    }
    .part1 .contact h4{
     font-size: 12px;
    }
    .part1 .quick_links{
     margin-top: 10px;
     margin-bottom: 10px;
    }
    .foot_communities{
     margin-top: 10px;
     margin-bottom: 10px;
    }
 /* ------------------------footer-part2----------------- */
 .part2 h3{
     font-size: 10px;
 }
 .social_media-icons a i{
     font-size: 20px;
 }

}