
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scrollbar-width: none;
}
/* -------------------------------------CSS CUSTOM PROPERTIES----------------------------------- */
:root {
    --font-color: linear-gradient(to right, purple, orange);
    --footer-bg-color: rgba(128, 128, 128, 0.473);
    --heading-size: 45px;
    --bg-color: linear-gradient(to right, purple, orange);
    --p-line-height: 25px;
    --para-font-size: 15px;
    --sub-head-size: 35px;
  }
  @font-face {
    font-family: head;
    src: url(../Assets/fonts/Dosis/Dosis-VariableFont_wght.ttf);  
}
@font-face {
    font-family: sub-head;
    src: url(../Assets/fonts/Galdeano/Galdeano-Regular.ttf);
}
@font-face {
    font-family: para;
    src: url(../Assets/fonts/Maitree/Maitree-Regular.ttf);
}

.container{
    min-height:100vh;
}

/* ----------Navbar-container---------- */
.navbar-container{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    /* border-bottom: 1px solid grey; */
    /* position: fixed;
    z-index: 99; */
    
    
}
/* ----------------nav-logo------------- */
.navbar-container .logo h1{
    font-size: 12px;
    font-family: cantarell;
    letter-spacing: 6px;
    font-weight: 200;
    margin-left: 20px;
    
}
.navbar-container .logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* -------------navbar-links---------- */
 .navbar-container .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 25px;

}

.nav-links li a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
/* --------userprofile------------- */
.nav-links #userprofile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.nav-links .fa-user {
    font-size: 15px;

}
.nav-links #username{
    font-size: 15px;
}
/* -------login-signup-btn------------ */

.login_signup-btn .login-btn{
    padding: 1vw;
    background-color:transparent;
    border: 1px solid black;
    border-radius: 12px;
}
.login_signup-btn .signup-btn{
    padding: 1vw;
    background-color:black;
    border: 1px solid black;
    border-radius: 12px;
}
.login_signup-btn .register-btn{
    padding: 1vw;
    background-color:transparent;
    
    border: 1px solid black;
    border-radius: 12px;
}
.login_signup-btn .register-btn a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 12px;
}

.login-btn a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}
.contact_us-btn a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}
 .navbar-container ul li .login_signup-btn .signup-btn a{
    text-decoration: none;
    font-size: 12px;
    color: white;
    
}
.navbar-container ul li .signoutbtn{
    padding: 1vw;
    background-color:black;
    
    border: 1px solid black;
    border-radius: 12px;
}
.login_signup-btn .signoutbtn {
    color: white;
    text-decoration: none;
}

/* -------------active-home-link------------ */
#active{
    background: linear-gradient(to right, purple, orange);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* -------------Open-close-menu------------- */
.navbar-container  .fa-solid{
    display: none;
    position: relative;
}

/* -------------------page1----------------- */
.page1{
    /* min-height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
/* --------------left-col---------------- */
.page1 .left-col{
    flex-basis: 60%;
   
}
.left-col .hero-text {
    font-size: var(--heading-size);
    margin-bottom: 35px;
    background: linear-gradient(to right, purple, orange);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:head ;
   
}
.left-col p{
    font-family: para;
    font-size: 18px;
    line-height: var(--p-line-height);
}
/* -------------buttons--------------- */
.btn{
    margin-top: 30px;
}
.btn .get_started-btn{
    padding: 13px;
    font-size: 16px;
    background: linear-gradient(to right, #AA3D71, #F1966E);
    border: none;
    border-radius: 8px;
    width: 300px;
    cursor: pointer;
}
.btn .get_started-btn a{
text-decoration: none;
color: white;
font-size: 15px;
font-family: para;
}

/* ----------------Right-Col----------------------- */
.right-col{
    flex-basis: 40%;
    position: relative;
}

.right-col img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* --------------------------------purpose and outlook----------------------- */
.head-disc{
     
     width: 100%;
     text-align: center;
    
}
.head-disc h1{
    margin: 1.5vw;
    font-size: var(--heading-size) ;
    font-family: head;
    background: linear-gradient(to right, purple, orange);
    background-clip: text;
    -webkit-text-fill-color: transparent;


}
.head-disc h3{
    margin: 10px;
    font-size:var(--sub-head-size);
    font-family: sub-head;
}
.head-disc .a2{
    font-size: var(--para-font-size);
    font-family: para;

}
.head-disc-p2{
    /* height: 100vh; */
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   

}
.head-disc-p2 .card{
    height: 250px;
    width: 250px;
    padding: 1.5vw;
    background-color: azure;
    margin: 1vw;
    flex-basis: 30%;
    border-radius: 12px;
}
.head-disc-p2 .card img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.head-disc-p2 .card p{
    font-size: 20px;
    font-weight: 300;
    font-family: sub-head;
    margin-top: 2vw;
}

/* ------------------page2------------------------ */

.page2{
    min-height: 100vh;
    width: 100%;
    align-items: center;
    padding: 10px;
    text-align: center;
}
.page2 h1{
   font-size:var(--heading-size);
   font-family: head;
   background: linear-gradient(to right, purple, orange);
   background-clip: text;
   margin-bottom: 10px;
   -webkit-text-fill-color: transparent;
   margin-bottom: 1vw;
}
.page2 .abt_communities{
    margin-top:10px;
    font-size: var(--para-font-size);
    font-family: para;
} 
/* --------------------------join community---------------- */
.join-community-container{
    height: 300px;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.join-community-container h2{
    font-size:var(--sub-head-size);
    font-family: sub-head;
    text-align: center;
    margin: 10px;
    background: linear-gradient(to right, purple, orange);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.join-community-container p{
    font-size:var(--para-font-size);
    font-family: para;
    text-align: center;
    margin: 10PX;
}
.join-community-container ul{
    text-align: center;
    list-style: none;
  

    
}
.join-community-container ul li{
    font-size: 20px;
    font-family: sub-head;
}
/* ---------------Community cards---------------------- */
.community_card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     flex-wrap: wrap;
    padding: 1vw;
    position: relative;
}   
/* -------------------card1-------------- */
/* ---------------------Before------------- */
.card1{
    flex-basis: 32%;
    background-color: #f7f7f7;
    height: 350px;
    border-radius: 12px;
    margin: 1.2vw;
    padding: 1vw;
}
.card1 img{
    height: 100px;
    width: 100px;
    border-radius: 12px;
}
.card1 h3{
    margin-top: 10px;
    font-size: var(--sub-head-size);
    font-family: sub-head;
}
.card1 p{
    margin-top:5px;
    font-size:var(--para-font-size);
    font-family: para;
}
.card1 button{
    margin-top:8px;
    padding: 1vw;
    width: 180px;
    border-radius: 0.7vw;
    background: linear-gradient(to right, #AA3D71, #F1966E);
    border: none;
    cursor: pointer;
}
.card1 button a{
    text-decoration: none;
    font-size: 12px;
    font-family: para;
    color:#f7f7f7;
    
}
/* ----------------------After----------------- */
.card1:hover{
    flex-basis: 32%;
    background-color: var(--footer-bg-color) ;
    height: 350px;
    border-radius: 12px;
    scale: 1.1;
    padding: 1vw;
    transition: 0.8s;
    z-index: 1;
    
}

/* --------------------card2----------------- */
/* ----------------------Before-------------------- */
.card2{
    flex-basis: 32%;
   
    background-color: #f7f7f7;
   height: 350px;
   border-radius: 12px;
   scale: 1;
   padding: 1vw;
   margin: 1.2vw;
}
.card2 img{
    height: 100px;
    width: 100px;
    border-radius: 12px;
}
.card2 h3{
    margin-top: 1vw;
    font-size:var(--sub-head-size);
    font-family: sub-head;
    color: #000;
}
.card2 p{
    margin-top:5px;
    font-size:var(--para-font-size);
    font-family: para;
    line-height: var(--p-line-height);
    color: #000;
}
.card2 button{
    margin-top:8px;
    padding: 1vw;
    width: 180px;
    border-radius: 0.7vw;
    background: linear-gradient(to right, #AA3D71, #F1966E);
    border: none;
    cursor: pointer;
}
.card2 button a{
    text-decoration: none;
    font-size: 12px;
    font-family: para;
    color:#f7f7f7;
    
}

/* --------------------------------After--------------------------- */
.card2:hover{
    flex-basis: 32%;
    background-color:var(--footer-bg-color) ;
    height: 350px;
    border-radius: 12px;
    scale: 1.1;
    padding: 1vw;
    transition: 0.8s;
    z-index: 1;
}


/* -----------------card3------------------- */
/* ---------------Before-------------- */
.card3{
    flex-basis: 32%;
    margin: 1.2vw;
    background-color: #f7f7f7;
    height: 350px;
    border-radius: 12px;
    padding: 1vw;
}
.card3 img{
    height: 100px;
    width: 100px;
    border-radius: 12px;
}
.card3 h3{
    margin-top: 1vw;
    font-size:var(--sub-head-size);
    font-family: sub-head;
}
.card3 p{
    margin-top:8px;
    font-size:var(--para-font-size);
    font-family: para;
}
.card3 button{
    margin-top: 8px;
    padding: 1vw;
    width: 180px;
    border-radius: 0.7vw;
    background: linear-gradient(to right, #AA3D71, #F1966E);
    border: none;
    cursor: pointer;
}
.card3 button a{
    text-decoration: none;
    font-size: 12px;
    font-family: para;
    color:#f7f7f7;
    
}
/* ---------------After----------------- */
.card3:hover{
    flex-basis: 32%;
    background-color:var(--footer-bg-color) ;
    height: 350px;
    border-radius: 12px;
    scale: 1.1;
    padding: 1vw;
    transition: 0.8s;
    z-index: 1;
    
}
/* ---------------------Card4------------------- */
/* ----------------------Before--------------------- */
.card4{
    flex-basis: 32%;
    margin: 1.2vw;
    background-color: #f7f7f7;
    height: 350px;
    border-radius: 12px;
    padding: 10px;
}
.card4 img{
    height: 100px;
    width: 100px;
    border-radius: 12px;
}
.card4 h3{
    margin-top: 1vw;
    font-size:var(--sub-head-size);
    font-family: sub-head;
    /* line-height: 25px; */
}
.card4 p{
    margin-top:8px;
    font-size:var(--para-font-size);
    font-family: para;
}
.card4 button{
    margin-top: 1vw;
    padding: 1vw;
    width: 180px;
    border-radius: 0.7vw;
    background: linear-gradient(to right, #AA3D71, #F1966E);
    border: none;
    cursor: pointer;
}
.card4 button a{
    text-decoration: none;
    font-size: 12px;
    font-family: para;
    color:#f7f7f7;
    
}
/* ---------------After----------------- */
.card4:hover{
    flex-basis: 32%;
    background-color:var(--footer-bg-color) ;
    height: 350px;
    border-radius: 12px;
    scale: 1.1;
    padding: 1vw;
    transition: 0.8s;
    z-index: 1;
    
}
/* ---------------------Card5------------------- */
/* ----------------------Before--------------------- */
.card5{
    flex-basis: 32%;
    margin: 1.2vw;
    background-color: #f7f7f7;
    height: 350px;
 
    border-radius: 12px;
    padding: 10px;
}
.card5 img{
    height: 100px;
    width: 100px;
    border-radius: 12px;
}
.card5 h3{
    margin-top: 1vw;
    font-size: var(--sub-head-size);
    font-family: sub-head;
}
.card5 p{
    margin-top: 8px;
    font-size: var(--para-font-size);
    font-family: para;
}
.card5 button{
    margin-top: 8px;
    padding: 1vw;
    width: 180px;
    border-radius: 0.7vw;
    background: linear-gradient(to right, #AA3D71, #F1966E);
    border: none;
    cursor: pointer;
}
.card5 button a{
    text-decoration: none;
    font-size: 12px;
    font-family: para;
    color:#f7f7f7;
    
}
/* ---------------After----------------- */
.card5:hover{
    flex-basis: 32%;
    background-color: var(--footer-bg-color) ;
    height: 350px;
    border-radius: 12px;
    scale: 1.1;
    padding: 1vw;
    transition: 0.8s;
    z-index: 1;
    
}
/* ---------------------Card6------------------- */
/* ----------------------Before--------------------- */
.card6{
    flex-basis: 32%;
    margin: 1.2vw;
    background-color: #f7f7f7;
    height: 350px;
    border-radius: 12px;
    padding: 1vw;
}
.card6 img{
    height: 100px;
    width: 100px;
    border-radius: 12px;
}
.card6 h3{
    margin-top: 1vw;
    font-size:var(--sub-head-size);
    font-family: sub-head;
}
.card6 p{
    margin-top: 8px;
    font-size: var(--para-font-size);
    font-family: para;
}
.card6 button{
    margin-top: 8px;
    padding: 1vw;
    width: 180px;
    border-radius: 0.7vw;
    background: linear-gradient(to right, #AA3D71, #F1966E);
    border: none;
    cursor: pointer;
}
.card6 button a{
    text-decoration: none;
    font-size: 12px;
    font-family: para;
    color:#f7f7f7;
    
}
/* ---------------After----------------- */
.card6:hover{
    flex-basis: 32%;
    background-color: var(--footer-bg-color);
    height: 350px;
    border-radius: 12px;
    scale: 1.1;
    padding: 1vw;
    transition: 0.8s;
    z-index: 1;
    
}


/* ----------------page3-------------------- */

.about_us{
 width: 100%;
 text-align: center;
 padding: 2vw;
position: relative;
}
.about_us h2{
    font-size: var(--heading-size);
    font-family: head;
    background: linear-gradient(to right, purple, orange);
    background-clip: text;
    margin-top: 20px;
    margin-bottom:20px;
    -webkit-text-fill-color: transparent;
}
.about_us h4{
    font-size:var(--sub-head-size);
    font-family: sub-head;

    margin-bottom: 20px;
}
.about_us p{
    font-size:var(--para-font-size);
    font-family: para;
}
.about_us button{
    margin-top: 15px;
    width: 300px;
    padding: 1.5vw;
    border: none;
    background: linear-gradient(to right ,purple,orange);
    cursor: pointer;
}
.about_us button a{
    text-decoration: none;
    font-size: 18px;
    font-family: para;
    color: white;
}
.about_us button:hover{
    box-shadow: 0.5vw 0.5vw 1.5vw;
    transition: 0.3s;
}
/* -------------------------footer------------------------------- */
footer{
    min-height: 300px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.473);
}
/* --------------------part1-------------------- */

footer .part1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* ---------------Contact----------------- */
.part1 .contact{
    flex-basis: 25%;
}
.part1 .contact h3{
    font-size: 20px;
    margin-bottom: 1vw;
}
.part1 .contact h4{
    font-size: 15px;
    margin-top: 1vw;
}
.part1 .contact h4 a{
    text-decoration: none;
    color: black;
}
.part1 .contact a{
    text-decoration: none;
    color: black;
}
.part1 .contact i{
    margin-top: 1vw;
    font-size: 25px;
}
/* -------------------------Quick-links------------------ */
.part1 .quick_links{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    
}
.part1 .quick_links h3{
    font-size: 20px;
    margin-bottom: 1vw;
}
.part1 .quick_links ul{
    list-style: none;
}
.part1 .quick_links ul li a{
    text-decoration: none;
    color: black;
}
.part1 .quick_links ul li {
    text-decoration: none;
    color: black;
    margin-top: 1vw;
    font-size: 15px;
    transition: transform 0.5s;
}
.part1 .quick_links ul li:hover{
    transform: translateY(-4px);
    color: red;
    
}
/* -------------------Communities-------------------- */
.foot_communities{
    flex-basis: 25%;
}
.foot_communities h3{
    font-size: 20px;
    margin-bottom: 1vw;
    margin-top: 1vw;
}
.foot_communities h4{
    margin-top: 1vw;
}
.foot_communities h4 a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-top: 1vw;
}
/* -----------------part2-------------- */
.part2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8vw;
    height: 100px;
}
/* -------------------------Copyright----------------- */
.part2 h3{
    font-size: 15px;
}
/* -----------------social media icons-------------- */
.social_media-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8vw;
    gap: 10px;
}
.social_media-icons a{
    text-decoration: none;
    color: black;
}
.social_media-icons a i{
    font-size: 25px;
    color: black;
    transition: transform 0.5s;
}
.social_media-icons a i:hover{
    transform: translateY(-5px);
    font-size: 25px;
    color:red;
}
/* -------------------------------Media------------ */
/* ---------------------For-Tablet--------------------- */
@media only screen and  (max-width:768px) and (min-width:600px) {

 .nav-links{
    display: flex;
    
    align-items: center;
    gap: 50px;
 }
 .nav-links li a{
    font-size: 15px;
 }
 .login_signup-btn {
    display: block;
 }
/* --------------page1----------------- */
.page1{
    display: flex;
   
    margin:0;
    padding: 10px;
    
}
.page1 .left-col{
    flex-basis: 60%;
    position: relative;
}
.page1 .left-col .hero-text{
    font-size: 30px;
}
.page1 .left-col p{
    font-size:12px;
   
}


/* --------------Buttons-------------- */
.btn{
    margin-top: 20px;
}
.btn .get_started-btn{
    width: 200px;
}

/* -------------------Right-col--------------- */



/* ----------------purpose and outlook--------------- */
.head-disc{
    padding: 1vw;
}
.head-disc h1{
    margin: 0.8vw;
}
.head-disc p{
    padding: 1vw;
}
.head-disc h3{
    margin: 1vw;
}
.head-disc-p2 .card{
    height: 240px;
}
/* -------------------Page2----------------- */
.card1{
    height: 300px;
}
.card1 h3{
    margin-top:8px;
    font-size:18px;
}
.card1:hover{
    height: 300px;
} 
.card2{
    height: 300px;
}
.card2 h3{
    margin-top: 8px;
    font-size: 18px;
}
.card2:hover{
    height: 300px;
}
.card3{
    height: 300px;
}
.card3 h3{
    margin-top: 8px;
    font-size:18px;
}
.card3:hover{
    height: 300px;
}
.card4{
    height: 300px;
}

.card4 h3{
    margin-top:8px;
    font-size: 18px;
}
.card4:hover{
    height: 300px;
}
.card5{
    height: 300px;
}
.card5 h3{
    margin-top:8px;
    font-size:18px;
}
.card5:hover{
    height: 300px;
}
.card6{
    height: 300px;
}
.card6 h3{
    margin-top:8px;
    font-size: 18px;
}
.card6:hover{
    height: 300px;
}
/* ----------------------About Us------------------ */
.about_us{
    min-height: 80vh;
}
.about_us button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 12px;
}

}
@media screen and  (max-width:992px)  and (min-width:768px) {
    .nav-links{
        display: flex;
        align-items: center;
        gap: 50px;
     }
     .nav-links li a{
        font-size: 15px;
     }
     .login_signup-btn {
        display: block;
     }
          /* --------------page1----------------- */
.page1{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    margin:0;
}
.page1 .left-col{
    flex-basis: 60%;
    margin-top: 70px;
}
.page1 .left-col .hero-text{
    font: 200px;
}
.left-col p{
    margin-top: 10px;
    margin-bottom: 15px;
}
.page1 .right-col{
    position: absolute;
    right: 80px;
    top: 20px;
}
.page1 .right-col img{
    height: 200px;
    width: 200px;
}

/* --------------Buttons-------------- */
.btn{
    margin-top: 20px;
}
.btn .get_started-btn{
    width: 300px;
}
 .head-disc-p2 .card{
 height: 200px;
 width: 200px;
 margin: 10px;
 }
/* ------------Community Cards--------- */
.card1{
    width: 100%;
}
.card1 h3{
font-size: 25px;
}
.card2{
    width: 100%;
}
.card2 h3{
    font-size: 27px;
}
.card3 h3{
    font-size: 27px;
}
.card4{
    width: 100%;
}
.card4 h3{
    font-size: 27px;
}
.card5 h3{
    font-size: 27px;
}
.card6 h3{
    font-size: 27px;
}
/* -------------about us--------- */
.about_us h1{
    font-size: var(--heading-size);
}
.about_us button{
    border-radius: 15px;
}
}
@media  only screen and  (min-width:992px) and (max-width:1200px){
    .nav-links{
        display: flex;
        align-items: center;
        gap: 50px;
     }
     .nav-links li a{
        font-size: 15px;
     }
     .login_signup-btn {
        display: block;
     }
     /* --------------page1----------------- */
.page1{
    display: flex;
    margin:0;
}
.page1 .left-col{
    flex-basis: 60%;
}
.page1 .left-col .hero-text{
    font-size: var(--heading-size);
}
.left-col p{
    margin-top: 10px;
    margin-bottom: 15px;
}
/* --------------Buttons-------------- */
.btn{
    margin-top: 20px;
}
.btn .get_started-btn{
    width: 300px;
}

/* -------------------Right-col--------------- */
.right-col{
    flex-basis: 45%;
}
/* ----------------purpose and outlook--------------- */


.head-disc p{
    padding: 10px;
}
.head-disc h3{
    margin: 1vw;
}
.head-disc-p2 .card{
    height: 240px;
}
.about_us{
    min-height: 80vh;
}
.about_us button{
    margin-top: 30px;
    padding: 10px;
    border-radius: 12px;
}
}
/* ------------------For 4K Screen----------------------- */
@media only screen and  (min-width:1200px) and (max-width:1440px){
    .navbar-container{
        width: 100%;
        padding: 10px; 
        height: 100px;
    }
    .navbar-container .logo h1{ 
        font-size: 16px;
        letter-spacing: 8px;
        font-weight: 300;

    }
    .nav-links{
        gap: 20px;
    }
    .navbar-container .nav-links a{
        font-size: 25px;
    }
    .login_signup-btn .login-btn{
        width: 100px;
       }
       .login_signup-btn .signup-btn{
        width: 100px;
       }

   /* /* ------------------------Page1------------------------ */
   .page1{
    margin-top: 0;
   }
   .page1 .left-col{
    padding: 1vw;
   }
   .left-col .hero-text{
    font-size: 70px;
   }
   .left-col p{
    font-size: 30px;
    line-height: 110%;
   }
   .btn .get_started-btn{
    width: 400px;
    padding: 20px;
   }
  
   /* ---------------------------Purpose and outlook----------------------- */
    
    .head-disc h1{
        margin: 0;
        font-size: 70px;
    }
    .head-disc .a2{
        font-size: 30px;
        margin-top: 10px;
    }
    .head-disc h3{
        font-size: 3vw;
    }
   /* --------------------------Part2------------------ */
   .head-disc-p2{
    height: 800px;
    }
    .head-disc-p2 .card{
        height: 300px;
        width: 300px;
    }
    .head-disc-p2 .card img{
        height: 120px;
        width: 120px;
    }
    .head-disc-p2 .card p{
        font-size: 30px;
    }
    /* ------------------------------Communities Page------------------- */
    .page2 h1{
        font-size: 70px;
    }
    .page2 .abt_communities{
        font-size: 30px;
        margin-top: 1vw;
    }
    .card1{
        height: 450px;
    }
    .card1 img{
        height: 150px;
        width: 150px;
    }
    .card1 h3{
        font-size: 40px;
    }
    .card1 p{
        font-size:20px;
    }
    .card1 button{
        padding: 15px;
        margin-top: 20px;
    }
    .card1:hover{
        height: 450px;
    }
    .card2{
        height: 450px;
    }
    .card2 img{
        height: 150px;
        width: 150px;
    }
    .card2 h3{
  font-size: 40px;
    }
    .card2 p{
        font-size: 20px;
    }
    .card2 button{
        padding: 15px;
        margin-top: 20px;
    }
    .card2:hover{
        height: 450px;
    }
    .card3{
        height: 450px;
    }
    .card3 img{
        height: 150px;
        width: 150px;
    }
    .card3 h3{
        font-size: 40px;
    }
    .card3 p{
        font-size: 20px;
    }
    .card3 button{
        padding: 15px;
        margin-top: 20px;
    }
    .card3:hover{
        height: 450px;
    }
    .card4{
        height: 450px;
    }
    .card4 img{
        height: 150px;
        width: 150px;
    }
    .card4 h3{
        font-size: 40px;
    }

    .card4 p{
        font-size: 20px;
    }
    .card4 button{
padding: 15px;
margin-top: 10px;
    }
    .card4:hover{
        height: 450px;
    }
    .card5{
        height: 400px;
    }
    .card5 img{
        height: 150px;
        width: 150px;
    }
    .card5 h3{
        font-size: 40px;
    }
    .card5 p{
        font-size: 20px;
    }
    .card5 button{
        padding: 15px;
        margin-top: 7px;
    }
    .card5:hover{
        height: 400px;
    }
    .card6{
        height: 450px;
    }
    .card6 img{
        height: 150px;
        width: 150px;
    }
    .card6 h3{
        font-size: 40px;
    }
    .card6 p{
        font-size: 20px;
    }
    .card6 button{
        padding: 15px;
        margin-top: 20px;
    }
    .card6:hover{
        height: 450px;
    }
    /* ----------------------------Join Community----------------------- */
    .join-community-container{
        height: 400px;
        margin-bottom: 3vw;
    }
    .join-community-container h2{
        font-size: 50px;
    }
    .join-community-container p{
        font-size: 30px;
    }
    .join-community-container ul li{
        font-size:35px;
    }
 
    /* ------------------------About us------------------ */
    .about_us {
        margin-bottom: 30px;
    }
    .about_us p{
        font-size: 30px;
    }
    .about_us button{
        padding: 20px;
        border-radius: 15px;

    }
    .about_us button a{
        font-size: 25px;
    }
    /* --------------------Footer-------------- */
    footer{
        min-height: 400px;
    }
    .part1 .contact h3{
        font-size: 30px;
    }
    .part1 .contact h4{
        font-size: 22px;
    }
    .part1 .contact i{
        font-size: 35px;
    }
    /* ------------------------quick-links--------------------- */
    .part1 .quick_links h3{
        font-size: 30px;
    }
    .part1 .quick_links ul li a{
        font-size: 22px;
    }
    /* ------------------------Communities-------------------------- */
    .foot_communities h3{
        font-size: 30px;
    }
    .foot_communities h4 a{
        font-size: 22px;
    }
    /* ------------------------------Part2---------------------------- */
    .part2{
        height: 120px;
    }
    .part2 h3{
        font-size: 22px;
    }
    .social_media-icons a i{
        font-size: 30px;
    }
    } 
    /* ----------------------------------Mobile-Devices---------------------------- */
    @media only screen and (max-width:600px){
        .navbar-container{
            width: 100%;
            min-height: 80px;
            display:flex;
            flex-direction: column;
            align-items: center;
            padding: 1vw;
        }
        .navbar-container .logo h1{
            font-size: 10px;
            letter-spacing: 6px;
            margin-top: 20px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }
       
        .navbar-container .nav-links .fa-solid{
            display: block;
            font-size: 30px;
            margin-top: 4vw;
            position:absolute;
            top:6px;
            right: 25px;
            
          
        }
        .navbar-container .nav-links{
            display: block;
            
        }
         .navbar-container ul{
            background-color:#f7f7f7;
            text-align: start;
            padding-top: 16vw;
            padding-left: 4vw;
            position: fixed;
            top: -300px;
            gap: 50px;
            height: 300px;
            width: 100%;
            transition: top 0.5s;
            z-index: 1;
            box-shadow: 0px 2px 4px 0.8px;
        }
        .navbar-container .nav-links li{
            margin-top: 25px;
            
        }
        .navbar-container ul .login_signup-btn{
            margin-top: 1vw;
        }
        .navbar-container .nav-links .login_signup-btn .register-btn{
            width: 100px;
            padding: 10px;
            border-radius: 12px;

        }
        .navbar-container .nav-links .login_signup-btn .register-btn{
            width: 100px;
            
        }
        .navbar-container .fa-bars{
            display: block;
            position: absolute;
            font-size: 30px;
            top: 25px;
            right: 25px;
            
            
            
        }
        .nav-links #userprofile{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            position: absolute;
            top: 80px;
            right: 20px;
           
        }
        .nav-links .fa-user {
            font-size: 15px;
        
        }
        .nav-links #username{
            font-size: 15px;
        }
        .navbar-container ul li .signoutbtn{
            padding: 10px;
            background-color:black;
            
            border: 1px solid black;
            border-radius: 12px;
        }
        .login_signup-btn .signoutbtn {
            color: white;
            text-decoration: none;
        }
        /* --------------------------page1--------------------- */
        .page1{
            flex-direction: column;
            padding: 3vw;
            margin-bottom: 0;
        }
        .page1 .left-col{
            margin-top: 2vw;
            padding: 2vw;
        }
        .page1 .left-col .hero-text{
            font-size: 30px;
        }
    
       
        /* --------------------------Purpose and outlook---------------------------- */
        .head-disc{
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 20px;
            padding-right: 20px;
            padding: 0;
            min-height: 100vh;

        }
        .head-disc h1{
            font-size: 40px;
            margin: 10px 5px;
        }
        .head-disc p{
            padding: 10px;
            margin: 10px 5px;
        }
       
        .head-disc-p2{
            height: 100%;
            padding: 2vw;
        }
        .head-disc-p2 .card{
            height: 200px;
            width: 300px;
            margin: 0.4vw;
        }
        .head-disc-p2 .card img{
            height: 80px;
            width: 80px;
        }
        .head-disc-p2 .card p{
            font-size: 14px;
        }
        /* ------------------------Communities---------------------- */
        /* ----------------------------Page2--------------------------- */
        .page2 h1{
            font-size: 40px;
            margin: 10px 5px;
        }
      
        .community_card{
            padding: 0.5vw;
            margin: 0;
            margin-top: 50px;
        }
        .card1{
            height: 310px;
            padding: 2vw;
            padding-top: 5vw;
        }
        .card1 button{
            padding: 10px;
            width: 200px;
        }
        .card1 h3{
            font-size: 4vw;
        }
        .card1:hover{
            scale: 1.2;
            height: 310px;
        }
        .card2{
            height: 320px;
            padding: 2vw;
            padding-top: 5vw;
        }
        .card2 button{
            padding: 4vw;
            width: 200px;
        }
        .card2 h3{
            font-size: 17px;
            margin-top: 0;
            
        }
        .card2 p{
            text-align: center;
            font-size: 13px;
            
        }
        .card2:hover{
            scale: 1.2;
            height: 320px;
        }
        .card3{
            height: 310px;
            padding: 2vw;
            padding-top: 5vw;
        }
        .card3 button{
            padding: 10px;
            width: 200px;
        }
        .card3 h3{
            font-size: 4vw;
        }
        .card3 p{
            text-align: center;
        }
        .card3:hover{
            scale: 1.2;
            height: 310px;
        }
        .card4{
            height: 300px;
            padding: 2vw;
            padding-top: 5vw;
        }
        .card4 button{
            padding: 10px;
            width: 200px;
        }
        .card4 h3{
            font-size: 4vw;
            margin-top: 0.5vw;
            line-height: 17px;

        }
        .card4 p{
            margin-top: 0.8vw;
            text-align: center;
            font-size:15px ;
        }
        .card4:hover{
            scale: 1.2;
            height: 300px;
        }
        .card5{
            height: 280px;
            padding: 2vw;
            padding-top: 5vw;
        }
        .card5 button{
            padding:10px;
            width: 200px;
        }
        .card5 h3{
            font-size: 4vw;
            margin-top: 0.5vw;
            line-height: 17px;

        }
        .card5 p{
            margin-top: 0.8vw;
            text-align: center;
            font-size:15px ;
        }
        .card5:hover{
            scale: 1.1;
            height: 280px;
        }
        .card6{
            height: 300px;
            padding: 2vw;
            padding-top: 5vw;
        }
        .card6 button{
            padding:10px;
            width: 200px;
        }
        .card6 h3{
            font-size: 4vw;
            margin-top: 0.5vw;
            line-height: 17px;

        }
        .card6 p{
            margin-top: 0.8vw;
            text-align: center;
            font-size:15px ;
        }
        .card6:hover{
            scale: 1.1;
            height: 300px;
        }
        /* ------------------------------Join community-------------------- */
        .join-community-container{
            margin-top: 50px;
        }
        .join-community-container h2{
            font-size: 25px;
        }

        .join-community-container p{
            font-size: 14px;
        }
     
        /* ---------------------------About US------------------ */
        .about_us{
            margin: 0;
        }
        .about_us h2{
            font-size: 40px;
        }
        .about_us p{
            font-size: 14px;
            margin:10px;
        }
        .about_us h4{
            font-size: 18px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .about_us button{
            margin-top: 30px;
            margin-bottom: 10px;
        }
        /* -------------------footer------------------------- */
        footer{
           display: flex;
           flex-direction: column;
           margin-top: 0;
        }
        footer .part1{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            padding-left: 20px;
            text-align: start;
        }
       .part1 .contact{
        flex-basis: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
       }
       .part1  .contact h3{
        
        margin-top: 10px;
        margin-bottom: 10px;
       }
       .part1 .contact h4{
        font-size: 12px;
       }
       .part1 .quick_links{
        margin-top: 10px;
        margin-bottom: 10px;
       }
       .foot_communities{
        margin-top: 10px;
        margin-bottom: 10px;
       }
    /* ------------------------footer-part2----------------- */
    .part2 h3{
        font-size: 10px;
    }
    .social_media-icons a i{
        font-size: 20px;
    }
    }
    
