*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scrollbar-width: none;
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    width: 100%;
    height: 100vh;
}
.navbar-container{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid grey;
    
    
}
/* ----------------nav-logo------------- */
.navbar-container .logo h1{
    font-size: 12px;
    font-family: cantarell;
    letter-spacing: 6px;
    font-weight: 200;
    margin-left: 20px;
}
.navbar-container .logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* -------------navbar-links---------- */
 .navbar-container .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 25px;
    margin-right: 30px;

}
.nav-links li a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
/* -------login-signup-btn------------ */

.login_signup-btn .login-btn{
    padding: 1vw;
    background-color:transparent;
    border: 1px solid black;
    border-radius: 12px;
}
.login_signup-btn .signup-btn{
    padding: 1vw;
    background-color:black;
    border: 1px solid black;
    border-radius: 12px;
}
.login_signup-btn .register-btn{
    padding: 1vw;
    background-color:black;
    
    border: 1px solid black;
    border-radius: 12px;
}
.login_signup-btn .register-btn a{
    color: white;
    text-decoration: none;
}

.login-btn a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}
.contact_us-btn a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}
 .navbar-container ul li .login_signup-btn .signup-btn a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    
}
/* -------------Open-close-menu------------- */
.navbar-container  .fa-solid{
    display: none;
    position: relative;
}
.registration-form{
    width: 100%;
    height: 100vh;
    padding: 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.registration-form iframe{
    width: 100%;
    height: 100%;
}
/* -------------------------footer------------------------------- */
footer{
    min-height: 300px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.473);
}
/* --------------------part1-------------------- */

footer .part1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* ---------------Contact----------------- */
.part1 .contact{
    flex-basis: 25%;
}
.part1 .contact h3{
    font-size: 20px;
    margin-bottom: 1vw;
}
.part1 .contact h4{
    font-size: 15px;
    margin-top: 1vw;
}
.part1 .contact h4 a{
    text-decoration: none;
    color: black;
}
.part1 .contact a{
    text-decoration: none;
    color: black;
}
.part1 .contact i{
    margin-top: 1vw;
    font-size: 25px;
}
/* -------------------------Quick-links------------------ */
.part1 .quick_links{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    
}
.part1 .quick_links h3{
    font-size: 20px;
    margin-bottom: 1vw;
}
.part1 .quick_links ul{
    list-style: none;
}
.part1 .quick_links ul li a{
    text-decoration: none;
    color: black;
}
.part1 .quick_links ul li {
    text-decoration: none;
    color: black;
    margin-top: 1vw;
    font-size: 15px;
    transition: transform 0.5s;
}
.part1 .quick_links ul li:hover{
    transform: translateY(-4px);
    color: red;
    
}
/* -------------------Communities-------------------- */
.foot_communities{
    flex-basis: 25%;
}
.foot_communities h3{
    font-size: 20px;
    margin-bottom: 1vw;
    margin-top: 1vw;
}
.foot_communities h4{
    margin-top: 1vw;
}
.foot_communities h4 a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-top: 1vw;
}
/* -----------------part2-------------- */
.part2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8vw;
    height: 100px;
}
/* -------------------------Copyright----------------- */
.part2 h3{
    font-size: 15px;
}
/* -----------------social media icons-------------- */
.social_media-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8vw;
    gap: 10px;
}
.social_media-icons a{
    text-decoration: none;
    color: black;
}
.social_media-icons a i{
    font-size: 25px;
    color: black;
    transition: transform 0.5s;
}
.social_media-icons a i:hover{
    transform: translateY(-5px);
    font-size: 25px;
    color:red;
}
/* -------------------------------Media------------ */
/* ---------------------For-Tablet--------------------- */
@media only screen and (min-width:600px){

    .nav-links{
       display: flex;
       
       align-items: center;
       gap: 50px;
    }
    .nav-links li a{
       font-size: 15px;
    }
    .login_signup-btn {
       display: block;
    }
    .registration-form{
        width: 100%;
        height: 100%;
    }
 }
 /* ------------------For 4K Screen----------------------- */
@media only screen and (min-width:1200px){
    .navbar-container{
        width: 100%;
        padding: 1vw;
        height: 130px;
    }
    .navbar-container .logo h1{
        font-size: 16px;
        letter-spacing: 8px;
        font-weight: 300;

    }
    .nav-links{
        gap: 20px;
    }
    .nav-links a{
        font-size: 30px;
    }
    .login_signup-btn .login-btn{
        width: 100px;
       }
       .login_signup-btn .signup-btn{
        width: 100px;
       }
    .registration-form{
        width: 100%;
        height: 100%;
    }

    /* ------------------------About us------------------ */
    .about_us {
        margin-bottom: 2vw;
    }
    .about_us button{
        padding: 2vw;

    }
    .about_us button a{
        font-size: 22px;
    }
    /* --------------------Footer-------------- */
    footer{
        min-height: 400px;
    }
    .part1 .contact h3{
        font-size: 30px;
    }
    .part1 .contact h4{
        font-size: 22px;
    }
    .part1 .contact i{
        font-size: 35px;
    }
    /* ------------------------quick-links--------------------- */
    .part1 .quick_links h3{
        font-size: 30px;
    }
    .part1 .quick_links ul li a{
        font-size: 22px;
    }
    /* ------------------------Communities-------------------------- */
    .foot_communities h3{
        font-size: 30px;
    }
    .foot_communities h4 a{
        font-size: 22px;
    }
    /* ------------------------------Part2---------------------------- */
    .part2{
        height: 120px;
    }
    .part2 h3{
        font-size: 22px;
    }
    .social_media-icons a i{
        font-size: 30px;
    }
    } 
        /* ----------------------------------Mobile-Devices---------------------------- */
        @media only screen and (max-width:600px){
            .navbar-container{
                width: 100%;
                min-height: 80px;
                display:flex;
                flex-direction: column;
                align-items: center;
                padding: 1vw;
            }
            .navbar-container .logo h1{
                font-size: 12px;
                letter-spacing: 6px;
                margin-top: 20px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }
            .navbar-container .nav-links .fa-solid{
                display: block;
                font-size: 30px;
                margin-top: 4vw;
                position:absolute;
                top:6px;
                right: 25px;
                
              
            }
            .navbar-container .nav-links{
                display: block;
                
            }
             .navbar-container .nav-links{
                background-color:#f7f7f7;
                text-align: start;
                padding-top: 16vw;
                padding-left: 4vw;
                position: fixed;
                top: -300px;
                gap: 50px;
                height: 300px;
                width: 100%;
                left: 0;
                transition: top 0.5s;
                z-index: 1;
                box-shadow: 0px 2px 4px 0.8px;
            }
            .navbar-container .nav-links li{
                margin-top: 25px;
                
            }
            .navbar-container ul .login_signup-btn{
                margin-top: 1vw;
            }
            .navbar-container .nav-links .login_signup-btn .register-btn{
                width: 100px;
                padding: 10px;
                border-radius: 12px;
    
            }
            .navbar-container .nav-links .login_signup-btn .register-btn{
                width: 100px;
                
            }
            .navbar-container .fa-bars{
                display: block;
                position: absolute;
                font-size: 30px;
                top: 25px;
                right: 25px;
            }
                    /* -------------------footer------------------------- */
        footer{
            display: flex;
            flex-direction: column;
            margin-top: 0;
         }
         footer .part1{
             display: flex;
             flex-direction: column;
             justify-content: start;
             align-items: start;
             padding-left: 20px;
             text-align: start;
         }
        .part1 .contact{
         flex-basis: 100%;
         margin-top: 10px;
         margin-bottom: 10px;
        }
        .part1  .contact h3{
         
         margin-top: 10px;
         margin-bottom: 10px;
        }
        .part1 .contact h4{
         font-size: 12px;
        }
        .part1 .quick_links{
         margin-top: 10px;
         margin-bottom: 10px;
        }
        .foot_communities{
         margin-top: 10px;
         margin-bottom: 10px;
        }
     /* ------------------------footer-part2----------------- */
     .part2 h3{
         font-size: 10px;
     }
     .social_media-icons a i{
         font-size: 20px;
     }
        }